<a href="https://colab.research.google.com/github/enes789/Python/blob/main/Lesson_Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def slicer(*nums):
  even_list = []
  odd_list = []
  for i in nums:
    if i % 2 == 0:
      even_list.append(i)
    else:
      odd_list.append(i)

  print(even_list)
  print(odd_list)

slicer(1, 2, 3, 4, 5, 6, 7, 8, 9)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
def organizer(**persons):
  name = []
  age = []
  for i, j in persons.items():
    name.append(i)
    age.append(j)
  
  print(name, "\n", age)
  
organizer(Beth = 26, Oscar = 42, Justin = 18, Frank = 33)

['Beth', 'Oscar', 'Justin', 'Frank']
 [26, 42, 18, 33]

In [ ]:
def merger(a, b, c, d):
  print(f"For me {a} {d} and {c} {b} are geniuses.")

genius = ("Bill", "Rossum", "Guido van", "Gates")
merger(*genius)

For me Bill Gates and Guido van Rossum are geniuses.

In [ ]:
friends = {"Ali" : 23, "Mehmet": 34, "Ayşe": 26}
def meaner(Ali, Mehmet, Ayşe):
  ave = (Ali + Mehmet + Ayşe) / 3
  print(f"Average of friends: {ave}")
    

meaner(**friends)

Average of friends: 27.666666666666668

In [ ]:
#execute_body1 if condition else execute_body2

condition = True
a = 1 if condition else 0
print(a)

1

In [ ]:
my_list = [1, 2, 3, 4 ,5 ,6, 7]
result = [i ** 2 for i in my_list if i % 2 != 0]
print(result)

[1, 9, 25, 49]

In [ ]:
[x **2 for x in range(5)]

[0, 1, 4, 9, 16]

In [ ]:
word = lambda x : x[::-1]
print(word("Clarusway"))

yawsuralC

In [ ]:
print(*reversed("clarusway"))

y a w s u r a l c

In [ ]:
for x in range(1, 5):
  if x % 2 == 0:
    print(x, ":", "even")
  else:
    print(x, ":", "odd")

1 : odd
2 : even
3 : odd
4 : even

In [ ]:
for x in range(1, 5):
  print(x, ":", (lambda x: "even" if x % 2 == 0 else "odd")(x))

1 : odd
2 : even
3 : odd
4 : even

In [ ]:
def square(x):
  return x ** 2

iterable = [1, 2, 3, 4, 5]   
res = list(map(square, iterable))
print(res)

[1, 4, 9, 16, 25]

In [ ]:
nums1 = [9, 6, 7, 4]
nums2 = [3, 6, 5, 8]
res = list(map(lambda x, y: (x + y) / 2, nums1, nums2))
print(res)

[6.0, 6.0, 6.0, 6.0]

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]
res = map(lambda x, y, z : y + " " + z +" " + x, words1, words2, words3)
for i in res:
  print(i)

i love you
you ate much
he works hard

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
res = filter(lambda x : len(x) < 5, words)
for i in res:
  print(i)

swim
me
kiwi

In [ ]:
def repeater(n):
  return lambda x: x * n

res = repeater(3)
print(res("enes "))

enes enes enes

In [ ]:
def functioner(emoji):
  return lambda x: print(x, emoji)

smile = functioner(":)")
sad = functioner(":(")
neutral = functioner(":|")

smile("hello ")
sad("hello ")
neutral("hello ")

hello  :)
hello  :(
hello  :|