<a href="https://colab.research.google.com/github/enes789/Python/blob/main/Lesson_Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hayloft = ["eggs", "cow", "hay", "chicken", "needle", "water"]
print(f" needle is at location of {hayloft.index('needle')} index number")

 needle is at location of 4 index number

In [ ]:
(monday, tuesday, wednesday, thusrday, friday, saturday, sunday) = tuple(range(1, 8))
friday

5

In [ ]:
if set("twelve plus one") == set("eleven plus two"):
  print("We are the same")

We are the same

In [ ]:
answer = input("Enter Yes or No : ").title().strip() == "Yes"
print(f"You entered {answer}")

Enter Yes oe No : yes
You entered True

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
  print(f"{num} is even")
else:
  print(f"{num} is odd")

Enter a number: 7
7 is odd

In [ ]:
num = int(input("Enter a number: "))
[i for i in range(num) if i % 2 == 0]

Enter a number: 10

[0, 2, 4, 6, 8]

In [ ]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))

if num1 > num2:
  print(f"The large number is {num1}")
else:
  print(f"The large number is {num2}")

Enter a number: 3
Enter a number: 5
The large number is 5

In [ ]:
num = int(input("Enter a number: "))
if num < 0:
  print(f"{num} is negative number")
else:
  print(f"{num} is positive number")

Enter a number: 23
23 is positive number

In [ ]:
favorite = {
     friends : {
        friend1 : {"first" : "Sue", "last" : "Bold"}
        friend2 : {"first" : "Steve", "last" : "Smith"}
    }
        
              
    family : {
        family1 : {"first" : "Enes", "last" : "Deniz"}
        family2 : {"first" : "Mehmet", "last" : "Bold"}
    }
}

In [ ]:
city = ["addis abba", "tokyo", "rome", "istanbul"]
city.sort()
city

['addis abba', 'istanbul', 'rome', 'tokyo']

In [ ]:
city = ["addis abba", "tokyo", "rome", "istanbul"]
print(sorted(city, key = len, reverse = True))

['addis abba', 'istanbul', 'tokyo', 'rome']

In [ ]:
city = ["addis abba", "tokyo", "rome", "istanbul"]
city.sort(key = len, reverse = False)
city

['rome', 'tokyo', 'istanbul', 'addis abba']

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set(colors)
print(set_1)

{'pink', 'blue', 'red'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()
print(letter)
print(set(letter))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']
{'p', 'z', 'u', 'j', 'm', 'y', 'v', 'a', 'h', 'd', 'r', 'f', 'c', 'i', 'g', 'l', 'b', 'e', 'n', 's', 't', 'o', 'k'}

In [ ]:
{"09.01.2021"}

{'09.01.2021'}

In [ ]:
set("09.01.2021")

{'.', '0', '1', '2', '9'}

In [ ]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
num3 = int(input("enter third number: "))
if num1 > num2 and num1 > num3:
  print(f"The largest number {num1}")
elif num2 > num1 and num2 > num3:
  print(f"The largest number {num2}")
else:
  print(f"The largest number {num3}")

enter first number: 2
enter second number: 4
enter third number: 6
The largest number 6

In [ ]:
a = int(input("First number: "))
b = int(input("Second number: "))
c = int(input("Third number: "))
if a > b and c:
    largest = a
elif b > a and c:
    largest = b
else:
    largest = c
print(f"The largest number is {largest}")

First number: 2
Second number: 6
Third number: 4
The largest number is 6

In [ ]:
num = float(input("Enter number: "))
if num > 0:
  print("You entered positive number")
elif num < 0:
  print("You entered negative number")
else:
  print("You entered zero")

enter number: 0
You entered zero

In [ ]:
degree = float(input("Enter your score: "))
if degree > 79:
  if degree >= 95:
    result = "A+"
  elif degree >= 90 and degree <=94:
    result = "A"
  elif degree >= 85 and degree <= 89:
    result = "B+"
  else:
    result = "B"
else:
  result = "B-"

print(f"Your score letter is : {result}")

enter number: 99
Your score letter is : A+

In [ ]:
age = input("Enter your age: ")
while not age.isdigit():
  print("you entered incorrectly")
  age = input("Enter your age: ") 
  
print("Great, you entered valid input")

Enter your age: 23.3
you entered incorrectly
Enter your age: 23e
you entered incorrectly
Enter your age: 24
Great, you entered valid input

In [ ]:
num = int(input("Enter number: "))
while True:

In [ ]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
num3 = int(input("enter third number: "))
if num1 > num2 and num1 > num3:
  print(f"The largest number {num1}")
elif num2 > num1 and num2 > num3:
  print(f"The largest number {num2}")
else:
  print(f"The largest number {num3}")

In [ ]:
sentence = input("Enter a sentence: ")

while True:
  words = sentence.split()
  words.sort(reverse = True, key = len)
  break
print(f"The longest word is {words[0]} and Lenght of the longest word is {len(words[0])}")

Enter a sentence: clarusway is a family
The longest word is clarusway and Lenght of the longest word is :9

In [ ]:
sentence = input("Enter a sentence: ")

while True:
  words = sentence.split()
  result = max(words, key = len)
  break

print(f"The longest word is {result} and Lenght of the longest word is {len(result)}")

Enter a sentence: clarusway is a family
clarusway
The longest word is clarusway and Lenght of the longest word is :9

In [ ]:
names = ["Ahmet", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names:
    print("hello", i)

hello Ahmet
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [ ]:
a = []
for i in range(1, 6):
  a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
num = int(input("Enter a number: "))
for i in range(11):
  print(num, "x", i, "=", num * i)

Enter a number: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
word = input("Give me a word: ")
count = 0
for i in word:
    count += 1
    if count < len(word):
        i = i + "-"
    print(i, end = "")

Give me a word: enter
e-n-t-e-r

In [ ]:
"clarusway".split()
print("-".join(name))

In [ ]:
name = []
for i in "clarusway":
    name.append(i)
print("-".join(name))

In [ ]:
print(*"clarusway", sep="-")

c-l-a-r-u-s-w-a-y

In [ ]:
print(*range(5, 25, 2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(range(5, 25, 2))

range(5, 25, 2)

In [ ]:
"""In order to learn ASCII code value"""
ord("a")

97

In [ ]:
print(*"seperate")

s e p e r a t e

In [ ]:
a = ["one", "two", "three", "four", "five"]
b = [1, 2, 3, 4, 5]
for i, j in zip(a, b):
  print(i, ":", j)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
a = ["one", "two", "three", "four", "five"]
b = [1, 2, 3, 4, 5]

In [ ]:
list(zip(a, b))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
print(* zip(a, b))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [ ]:
odd = []
even = []
for i in range(11):
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)

print("evens:", even)
print("odds:", odd)

evens: [0, 2, 4, 6, 8, 10]
odds: [1, 3, 5, 7, 9]