<a href="https://colab.research.google.com/github/enes789/Python/blob/main/W3Resources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Write a Python program to find those numbers
 which are divisible by 7 and multiple of 5, 
 between 1500 and 2700 (both included)"""
a = []
for i in range(1500, 2701):
  if i % 35 == 0:
    a.append(i)
print(a)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
import random
xnum = random.randint(1, 10)

a = int(input("Enter a value which is between 1 and 9 inclusive: "))

while a != xnum:
  if a > xnum:
    a = int(input("Enter smaller number:"))
  else:
    a = int(input("Enter bigger number:"))

print("Congrats! You found a exact number")

Enter a value which is between 1 and 9 inclusive: 5
Enter smaller number:3
Congrats! You found a exact number

In [ ]:
a = int(input("Enter a value which is between 1 and 9 inclusive: "))
for i in range(1, a + 1):
  print("* " * i)
  if i == a:
    for j in range(a -1, 0, -1):
      print("* " * j)

Enter a value which is between 1 and 9 inclusive: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
""" Write a Python program that accepts a word from the user and reverse it."""
word = input("Enter a word: ")
new_word = word[::-1]
print(new_word)

Enter a word: clarusway
yawsuralc

In [ ]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
a = []
for i in datalist:
  a.append(type(i))
print(a)

[<class 'int'>, <class 'float'>, <class 'complex'>, <class 'bool'>, <class 'str'>, <class 'tuple'>, <class 'list'>, <class 'dict'>]

In [ ]:
""" Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement."""

for i in range(7):
  if i == 3 or i == 6:
    continue
  else:
    print(i, end = " ")

0 1 2 4 5

In [ ]:
"""Write a Python program to get the Fibonacci series between 0 to 50. """
a, b = 0, 1
while b < 50:
  a, b = b, a + b
  print(a, end= " ")

1 1 2 3 5 8 13 21 34

In [ ]:
"""Write a Python program which
takes two digits m (row) and n (column) as input and generates a two-dimensional array.
The element value in the i-th row and j-th column of the array should be i*j. """

row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]
print(multi_list)
for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 4
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12]]

In [ ]:
"""Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input 
and print the numbers that are divisible by 5 in a comma separated sequence. Go to the editor"""
Data = ["0100", "0011", "1010", "1001", "1100", "1001", "0101"]
item = []
for i in Data:
    result = int(i, 2)
    if result % 5 == 0:
      item.append(result)
      print(i, end = ", ")

1010, 0101,

In [3]:
def string_reverse(str1):
  index = len(str1)
  str2 = ""
  while index > 0:
    str2 += str1[index - 1]
    index -= 1
  return str2

str1 = input("Enter a string value: ")
print(string_reverse(str1))

Enter a string value: 124asd
dsa421

In [13]:
"""Write a Python function to calculate the factorial of a number (a non-negative integer). 
The function accepts the number as an argument"""

def factoriel(n):
  if n == 0:
    return 1
  else:
    i = 1
    result = 1
    while i <= n:
      result *= i
      i += 1
    return result

n = int(input("Input a number to calculate the factorial of number: "))
print(factoriel(n))

Enter a number to calculate the factorial of number: 5
120

In [22]:
"""Write a Python function that accepts a string and 
calculate the number of upper case letters and lower case letters"""

def upper_or_lower(str1):
  a = 0
  b = 0
  c = 0
  for k in str1:
    if k.isupper():
      a += 1
    elif k.islower():
      b += 1
    elif k.isspace():
      c += 1
    else:
      pass
      
  
  print ("No. of Upper case characters : ", a)
  print ("No. of Lower case Characters : ", b)
  print ("No. of space : ", c)
str1 = input("Enter a string value: ")
upper_or_lower(str1)

Enter a string value: The 123quick  Brown Fox45
No. of Upper case characters :  3
No. of Lower case Characters :  13
No. of space :  4

In [28]:
"""Write a Python function that takes a list and returns a new list with unique elements of the first list"""

def unique1(list_n):
  new_set = set(list_n)
  return list(new_set)


print(unique1([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [55]:
"""Write a Python function that takes a number as a parameter and check the number is prime or not"""

def prime(n):
  if n == 1:
    return False
  elif n == 2:
    return True
  else:
    for i in range(2, n):
      if n % i == 0:
        return False
      return True
       
n = int(input("Enter a number to learn whether it is prime number or not: "))
print(prime(n))

Enter a number to learn whether it is prime number or not: 5
True

In [67]:
"""Write a Python function to check whether a number is perfect or not. 
Example : The first perfect number is 6, 
because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. 
The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128."""

def perfect_number(n):
  perfect = []
  for k in range(1, n + 1):
    total = 0
    for i in range(1, k):
      if k % i == 0:
        total += i

    if total == k:
      perfect.append(k)
      
  return perfect
  
n = int(input("Enter a number: ")) 
print(perfect_number(n))

Enter a number: 10000
[6, 28, 496, 8128]